// Reserved class names: 
// header
// main
// banner
// reviews
// about
// special
// food
// clients
// reserve
// footer 

.container {
    width: 1170px;
    margin: 0 auto;
    height: 100%;
}

.wrapper {
    font-family: $Playfair;
    color: $dark-blue;
}

.btn {
    @include font($Sintony, 14px, 700, $white);
    text-transform: uppercase;
    background-color: $orange;
    border-radius: 4px;
}

.tel {
    @include font($Playfair, 32px, 700, $dark-blue);
}

.section-h-black, .section-h-white, .block-h-black {
    @include font($Playfair, 35px, 700, $dark-blue);
}

.section-h-white {
    color: $white;
}

.block-h-black {
    font-size: 26px;
}

.text {
    @include font($Sintony, 14px, 400, $default-grey);
}

.delivery-text {
    @include font($Sintony, 14px, 700, $dark-blue);
    text-transform: uppercase;

    span {
        color: $pink;
    }
}


