$white: #fff;
$orange: #fea100;
$pink: #fe4c8d;
$dark-blue: #14141d;
$dark-grey: #373844;
$default-blue: #2c465a;
$default-grey: #5c6369;
$light-grey: #adb2b7;

$Playfair: 'Playfair Display', serif;
$Sintony: 'Sintony', sans-serif;